BODY { background-color: #FFCC66 }

H1	{ text-align: center }
H1, H2, H3 { font-family: "Arial", sans-serif }

A:link    { color: blue; }
A:active  { color: black; }
A:visited { color: black; }
A:hover   { color: red; }


/*
     FILE ARCHIVED ON 16:02:15 Jan 22, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:48:45 Jun 24, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/